<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/sidebar-menu.css">
    <link rel="stylesheet" href="../css/xssy.css">
    <style type="text/css">
        header{
            color: white;
            height: 10%;
            width: 100%;
            position: fixed;
            background-color: #78c5f4;
            top: 0;z-index: 12;
            font-size: 25px;
            -webkit-box-shadow: -4px 6px 5px -4px #cfcfcf;
        }
        .lscolor{background-color: #A0C001;color: white}
        .lscolor2{background-color: #A0C001;color: white}
    </style>
</head>
<body style="  background-color: #e6ecee;">
<div class="cyy" style="display:none; "></div>
<div id="csbg" style="display: none;">
    <h4 class="bt">答题报告</h4>
    <p class="jstm">共 <label>10 </label> 题，答对 <label>5 </label> 题
        <a><input type="button" value="查看解析" class="ckjx"></a>
        <a href="xszy"><input type="button" value="退出" class="tc"></a>
    </p>
    <div class="tmxh">
        <div><a>1</a></div>
        <div><a>2</a></div>
        <div><a>3</a></div>
        <div class="clear" style="border: 0;"></div>
    </div>
    <p class="tjsj">提交时间：<span>2018年7月21日 20:20:14</span></p>
    <div class="df">得分：<label>50</label></div>
</div>
<header>
    <label style="margin-top: 10px;margin-left:30px">云 题 库</label>
    <a style="margin-left: 30px;border: 1px solid white;font-size: 25px"></a>
    <a href="xszy" onclick="wdzc()">我的自测</a>
    <a href="tycs">统一测试</a>
    <a href="dtls">历史答题</a>
    <a style="margin-left: 550px;font-size: 17px"><i class="fa fa-user-o" style="font-size: 22px"></i>&nbsp;<span th:text="${xname}" class="xname"></span></a>
    <span th:text="${stid}" class="stid" style="display: none"></span>
    <span th:text="${zt}" class="zt" style="display: none"></span>
    <span th:text="${fwmc}" class="fwmc" style="display: none"></span>
    <span th:text="${xid}" class="xid" style="display: none"></span>
    <a style="font-size: 17px" href="dl"><i class="fa fa-power-off"></i> &nbsp;退出</a>
</header>
<div class="ts" style="display: none">
    <div>提示</div>
    <div class="tsxx" style="display: none">
        <p>休息一下</p>
        <input type="button" value="继续做题">
    </div>
    <div class="tsjj" style="display: none">
        <p>你还有&nbsp;<label style="color: red"></label>&nbsp;到题没做，确定交卷吗</p><br>
        <input type="button" value="继续做题">&nbsp;
        <input type="button" value="提交试卷" class="tjsj">
    </div>
</div>
<div id="stcbl">
    <p style="text-align: center;font-size: 20px">答题卡</p><br>
    <p style="margin-left: 12px;">用时：<input id="mytime" type="text" value="00:00" readonly></p>
    <div class="ths">
        <div class="th"><a>1</a></div> <div class="th"><a>2</a></div>
        <div class="clear" style="border: 0"></div>
    </div>
    <div class="cz">
        <input type="button" value="休息一下" class="xx">
        <input type="button" value="我要交卷" class="jj">
    </div>
</div>
<div id="stnr">
    <div class="bt" th:text="${fwmc}" id="1index">  </div>
	<div class="tmrq">
		<!-- 题目内容  -->
	</div>
</div>
</body>
<script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(function(){
    	var today;
        today = new Date();
        intYears = today.getFullYear(); //得到年份,getFullYear()比getYear()更普适
        intMonths = today.getMonth() + 1; //得到月份，要加1
        intDays = today.getDate(); //得到日期
        intHours = today.getHours(); //得到小时 
        intMinutes = today.getMinutes(); //得到分钟
        intSeconds = today.getSeconds(); //得到秒钟
        var dqsj=intYears+"-"+intMonths+"-"+intDays+" "+intHours+":"+intMinutes+":"+intSeconds;
    	
        xstm();
        
        $(".cz .jj").click(function () {           
             var dtk =$(".ths .th a");
             var is=0;
            for(var i=0;i<dtk.length;i++){
            	//alert($(dtk[i]).css("color"));
            	if($(dtk[i]).css("color")=="rgb(51, 122, 183)"){
            		is+=1;
            	}
            }
            if(is==0){
            	$(".tsjj p").html("确定要提交吗？");
            }
            $(".tsjj label").html(is);
            $(".tsjj lab")
            $(".cyy").show();
            $(".ts").show();
            $(".ts .tsjj").show();
            clearInterval(timer); 
        });
        
        $(".tsjj input:eq(0)").click(function(){
            $(".cyy").hide();
            $(".ts").hide();
            $(".ts .tsjj").hide();
            ksjs();
        });
        $(".cz .xx").click(function () {
            $(".cyy").show();
            $(".ts").show();
            $(".ts .tsxx").show();
            clearInterval(timer);
        });
        $(".tsxx input").click(function(){
            $(".cyy").hide();
            $(".ts").hide();
            $(".ts .tsxx").hide();
            ksjs();
        });
        
        //新增刷题纪录
        $(".tjsj").click(function(){
        	var zt=$(".zt").html();
        	var stuId=$(".xid").html();
        	var param={'stuId':$(".xid").html(),'knowName':$("#stnr .bt").html(),'isCommit':1,'startTime':dqsj};
        	 $.ajax({
 				type:"POST",
 				url:"xzstjl",
 				dataType:"json",
 			    contentType:"application/json",
 				data:JSON.stringify(param),
 				success:function(res){	
 					
 					xzstmx(res);
 					
 					cxstbg();    		
 		            $(".ts").hide();
 		            $(".ts .tsjj").hide();
		
 					 if(zt==1){
 						 xgzjjd(res)
 					}else if(zt==2){
 						 xgzsdjd(res)
 					}else if(zt==3){
 						
 					} 
 				}
 			}); 
         
        });
    })
    //新增错题
    function xzct(stuId,bhId){
    	$.getJSON("xzct/"+stuId+"/"+bhId,function(date){
    		alert("新增错题");
    	})
    }
    //修改章节进度
    function xgzjjd(){
    	var courseId=$(".stid").html();
    	var stuId=$(".xid").html();
    	$.getJSON("cxzjjd/"+stuId+"/"+courseId,function(){
    		alert("修改成功");    		
    		cxstbg();    		
            $(".ts").hide();
            $(".ts .tsjj").hide();
    	});
    }
    //修改知识点进度
    function xgzsdjd(){
    	var knowId=$(".stid").html();
    	var stuId=$(".xid").html();
    	$.getJSON("cxzsdjd/"+stuId+"/"+knowId,function(){
    		alert("修改成功");    		
    		cxstbg();    		
            $(".ts").hide();
            $(".ts .tsjj").hide();
    	});
    }
    
    //查询刷题报告
    function cxstbg(){
    	var i=1;
    	var yes=0;
    	var sj="";
    	var stuId=$(".xid").html();
    	$("#csbg .tmxh").html("");
    	
    	$.getJSON("cxzxstbg/"+stuId,function(date){
    		$.each(date,function(){
    			
    			var div="background-color:#0088db";
				var a="color:white";
		
    			if(this.rightAnswer!=this.stuAnswer){
    				div="background-color: red";
        			a="color: white";
    				
    			}else{
    				yes++;
    			}
    			
    			$("#csbg .tmxh").append("<div style='"+div+"'>"
    				+"<a style='"+a+"' href='stjx?zt=1&sjid=0'>"+i+"</a></div>");
    			
    			sj=this.jiexi;
    			i++;
    			
    		})
    		
    		$("#csbg .tmxh").append("<div class=\"clear\" style=\"border: 0;\"></div>");
    		$("#csbg .jstm label:eq(0)").html(i-1);
    		$("#csbg .jstm label:eq(1)").html(yes);
    		$("#csbg .tjsj span").html(sj);
    		$("#csbg").show();
    		$(".cyy").show();
    	})
    }
    //新增刷题纪录明细
    function xzstmx(bhId){
    	 var tm=$(".ydt");//循环题目
     	  var param=[];
           for(var i=0;i<tm.length;i++){
         	  var tmxx=$(tm[i]).find(".xuanxiang input");//循环一道题的选项
         	  var xxxh="";//你选择的答案
         	  var isRight="";//是否是正确答案
         	  var tmid=$(tm[i]).attr("tmid");
          	    for(var is=0;is<tmxx.length;is++){
          		   if($(tmxx[is]).prop("checked")==true){
          			   xxxh+=$(tmxx[is]).next().html();            			  
          		   }
          		   if($(tmxx[is]).attr("isRight")==1){
          				isRight+=$(tmxx[is]).next().html();
          		   }
          	    } 
         	  if(xxxh!=""){
         		  var dx={'bhId':bhId,'qtId':tmid,'rightAnswer':isRight,'stuAnswer':xxxh};
         		  param.push(dx);
         	  }
           }
           console.info(JSON.stringify(param));
           $.ajax({
				type:"POST",
				url:"xzstmx",
				dataType:"json",
			    contentType:"application/json",
				data:JSON.stringify(param),
				success:function(res){					
					alert("提交成功！");
					var stuId=$(".xid").html();
					xzct(stuId,bhId);
				}
			}); 
    }
  
    //查询显示题目的知识点id
    function xstm(){
    	var zt=$(".zt").html();
    	var courseId=$(".stid").html();
    	var zsdid="";
    	if(zt==1){
    		$.ajaxSettings.async = false;
    		$.getJSON("cxzsd/"+courseId,function(date){
    			$.each(date,function(){
    				zsdid+=this.knowId+",";
    			});
    		});
    		zsdid+="0";
    		
    		sjct(zsdid,10);
    		
    	}else if(zt==2){
    		
    		sjct(courseId,10);
    		
    	}else if(zt==3){
    		
    		var bookId=$(".stid").html();
    		
    		$.ajaxSettings.async = false;
    		$.getJSON("cxkczsd/"+bookId,function(date){
    			$.each(date,function(){
    				zsdid+=this.knowId+",";
    			});
    		});
    		zsdid+="0";
    		
    		sjct(zsdid,10);
    	}else if(zt==4){
    		
    		$("#stcbl .cz").css("margin-top","50px");
    		
			var gid=$(".stid").html();  
			
    		$.ajaxSettings.async = false;
    		$.getJSON("cxnjxdzsd/"+gid,function(date){
    			$.each(date,function(){
    				zsdid+=this.knowId+",";
    			});
    		});
    		zsdid+="0";
    		
    		sjct(zsdid,20);
    	}else if(zt=="5"){
    		
    		xssctm();
    	}else if(zt=="6"){
    		xswdct();
    	}	
    }
    
    //显示我的错题
    function xswdct(){
    	var is=1;
    	var stuid=$(".xid").html();
		var bookid=$(".stid").html();
    	
    	$.ajaxSettings.async = false;
    	$.getJSON("cxkcct/"+stuid+"/"+bookid,function(date){
    		$.each(date,function(){
    			var cls="radio";
				if(this.idDouble==2){
					cls="checkbox";
				}
				
				var sczt="fa fa-star-o";				
				if(this.sfsc>0){
					sczt="fa fa-star";
				}
				
				var dd=$(" <div class=\"ydt\" id='"+(is+1)+"index' tmid='"+this.qtId+"' zsdid='"+this.knowId+"'>"
			        +"<p style='margin-left: 0'><label class='bs'>"+is+"</label>"
			        +"<label>.&nbsp;"+this.qtQuest+"</label></p>"
			        +"<div class='xuanxiang'></div>" 
			        +"<div class='cz'>"
			        +"<a><i class='fa fa-eye'></i> &nbsp;吐槽</a>"
			        +"<a><i class='fa fa-bookmark-o'></i> &nbsp;标记</a>"
			        +"<a onclick=\"sctm(this,'"+this.qtId+"')\"><i class='"+sczt+"'></i> &nbsp;收藏</a>"
			        +"</div> </div>");
				
				$(".tmrq").append(dd);
				
				$.each(this.list,function(i,obj){
					  dd.find(".xuanxiang").append("<p><input type='"+cls+"' onclick=\"txdaan(this)\" name='dx"+is+"' style=\"width: 15px;height: 15px\" isRight='"+obj.isRight+"'></i>"
							+" <span>"+obj.opORder+"</span>."+obj.rightOption+"</p>"); 
						
				});
				is++;
    		});
    		
    	});
    		cjdtk(is);
    }
    
    //显示我收藏的题目
    function xssctm(){
    	var is=1;
    	var stuid=$(".xid").html();
		var bookid=$(".stid").html();
    	
    	$.ajaxSettings.async = false;
    	$.getJSON("cxsctm/"+stuid+"/"+bookid,function(date){
    		$.each(date,function(){
    			var cls="radio";
				if(this.idDouble==2){
					cls="checkbox";
				}
				
				var sczt="fa fa-star-o";				
				if(this.sfsc>0){
					sczt="fa fa-star";
				}
				
				var dd=$(" <div class=\"ydt\" id='"+(is+1)+"index' tmid='"+this.qtId+"' zsdid='"+this.knowId+"'>"
			        +"<p style='margin-left: 0'><label class='bs'>"+is+"</label>"
			        +"<label>.&nbsp;"+this.qtQuest+"</label></p>"
			        +"<div class='xuanxiang'></div>" 
			        +"<div class='cz'>"
			        +"<a><i class='fa fa-eye'></i> &nbsp;吐槽</a>"
			        +"<a><i class='fa fa-bookmark-o'></i> &nbsp;标记</a>"
			        +"<a onclick=\"sctm(this,'"+this.qtId+"')\"><i class='"+sczt+"'></i> &nbsp;收藏</a>"
			        +"</div> </div>");
				
				$(".tmrq").append(dd);
				
				$.each(this.list,function(i,obj){
					  dd.find(".xuanxiang").append("<p><input type='"+cls+"' onclick=\"txdaan(this)\" name='dx"+is+"' style=\"width: 15px;height: 15px\" isRight='"+obj.isRight+"'></i>"
							+" <span>"+obj.opORder+"</span>."+obj.rightOption+"</p>"); 
						
				});
				is++;
    		});
    		
    	});
    		cjdtk(is);
    }
    
    //显示题目
    function sjct(zsdid,sum){
    	
    	$(".tmrq").html("");
    	var is=1;
    	var xid=$(".xid").html();
    	$.ajaxSettings.async = false;
    	$.getJSON("sjcxtm/"+zsdid+"/"+sum+"/"+xid,function(date){
			$.each(date,function(){
				
				var cls="radio";
				if(this.idDouble==2){
					cls="checkbox";
				}
				
				var sczt="fa fa-star-o";				
				if(this.sfsc>0){
					sczt="fa fa-star";
				}
				
				var dd=$(" <div class=\"ydt\" id='"+(is+1)+"index' tmid='"+this.qtId+"' zsdid='"+this.knowId+"'>"
			        +"<p style='margin-left: 0'><label class='bs'>"+is+"</label>"
			        +"<label>.&nbsp;"+this.qtQuest+"</label></p>"
			        +"<div class='xuanxiang'></div>" 
			        +"<div class='cz'>"
			        +"<a><i class='fa fa-eye'></i> &nbsp;吐槽</a>"
			        +"<a><i class='fa fa-bookmark-o'></i> &nbsp;标记</a>"
			        +"<a onclick=\"sctm(this,'"+this.qtId+"')\"><i class='"+sczt+"'></i> &nbsp;收藏</a>"
			        +"</div> </div>");
				
				$(".tmrq").append(dd);
				
				$.each(this.list,function(i,obj){
					  dd.find(".xuanxiang").append("<p><input type='"+cls+"' onclick=\"txdaan(this)\" name='dx"+is+"' style=\"width: 15px;height: 15px\" isRight='"+obj.isRight+"'></i>"
							+" <span>"+obj.opORder+"</span>."+obj.rightOption+"</p>"); 
						
				});

				is++;
			});
		});
    	
    	 cjdtk(is);
    }
    
    //填答案答题卡变色
    function txdaan(th){
    	var xx=$(th).parents(".xuanxiang").find("input");
    	for(var i=0;i<xx.length;i++){
    		
    		var xh=$(th).parents(".ydt").find(".bs").html();
			var dtk=$(".ths .th a");			
    		if($(xx[i]).prop("checked")==true){
    			
    			for(var i=0;i<dtk.length;i++){
    				if($(dtk[i]).html()==xh){
    					$(dtk[i]).parent().css("background-color","#0088DB");
    					$(dtk[i]).css("color","white");
    				}
    			}
    			break;
    		}else if(i==xx.length-1){
    			for(var i=0;i<dtk.length;i++){
    				if($(dtk[i]).html()==xh){
    					$(dtk[i]).parent().css("background-color","white");
    					$(dtk[i]).css("color","#337ab7");
    				}
    			}
    		}
    	}
    }
    
    //填充答题卡
    function cjdtk(sum){
    	$(".ths").html("");
    	for(var i=1;i<sum;i++){
    		$(".ths").append("<div class=\"th\"><a href='#"+i+"index'>"+i+"</a></div>");
    	}
    	$(".ths").append("<div class=\"clear\" style=\"border: 0\"></div>");
    }
    
    //收藏题目
    function sctm(th,tmid){
    	var zt=$(th).find("i").attr("class");
    	var xid=$(".xid").html();
    	var param={'stuId':xid,'qtId':tmid,};
    	if(zt=="fa fa-star-o"){
		   	$.ajax({
				type:"POST",
				url:"tjsc",
				dataType:"json",
			    contentType:"application/json",
				data:JSON.stringify(param),
				success:function(res){					
					$(th).find("i").attr("class","fa fa-star");	
				}
			}); 
    	}else if(zt=="fa fa-star"){
    		$.ajax({
				type:"DELETE",
				url:"qxsc/"+xid+"/"+tmid,
				dataType:"json",
			    contentType:"application/json",
			    data:{'xid':xid,'tmid':tmid},
				success:function(res){					
					$(th).find("i").attr("class","fa fa-star-o");	
				}
			}); 
    	}
    }
    
    function wdzc(){
        if (confirm("要离开这个页面吗？系统可能不会保存您所做的更改.")) {
            window.location.href="xssy.html";
        }
        else {

        }
    }

     
    $(document).ready(function(){
        ksjs();
    });
    var oTxt=document.getElementById("mytime");
    var oStart=document.getElementsByTagName("input")[1];
    var oStop=document.getElementsByTagName("input")[2];
    var oReset=document.getElementsByTagName("input")[3];

    var n= 0;
    var timer=null;
    //开始计时
     function ksjs(){
    clearInterval(timer);
    // setInterval() 方法可按照指定的周期（以毫秒计）来调用函数或计算表达式。
    timer=setInterval(function ()
    {
        n++;
        var m=parseInt(n/3600)
        var s=parseInt(n/60%60);
        var M=parseInt(n%60);
        oTxt.value=toDub(m)+":"+toDub(s);
        //时分秒  oTxt.value=toDub(m)+":"+toDub(s)+":"+toDub(M);
    },1000/60);
     };
    //暂停并且清空计时器
    oStop.onclick= function () {
        clearInterval(timer);
    }
    //重置
    oReset.onclick= function () {
        oTxt.value="00:00:00";
        n=0;
    }
    //补零
    function toDub(n){
        return n<10?"0"+n:""+n;
    }
</script>
</html>