<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>统一测试</title>
    <link rel="stylesheet" type="text/css" href="../font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/sidebar-menu.css">
    <link rel="stylesheet" href="../css/tycs.css">
    <style type="text/css">
        header{
            color: white;
            height: 10%;
            width: 100%;
            position: fixed;
            background-color: #78c5f4;
            top: 0;z-index: 12;
            font-size: 25px;
            -webkit-box-shadow: -4px 6px 5px -4px #cfcfcf;
        }
        .kssj{background-image: url("../image/sjk.jpg");background-size: 100%;width: 350px;height: 250px}
    </style>
</head>
<body style="  background-color: #e6ecee;">
<div class="cyy" style="display:none; "></div>
<header>
    <label style="margin-top: 10px;margin-left:30px">云 题 库</label>
    <a style="margin-left: 30px;border: 1px solid white;font-size: 25px"></a>
    <a href="xssy.html" onclick="wdzc()">我的自测</a>
    <a href="tycs.html">统一测试</a>
    <a href="dtls.html">历史答题</a>
    <a style="margin-left: 550px;font-size: 17px"><i class="fa fa-user-o" style="font-size: 22px"></i> &nbsp;某个用户</a>
    <a style="font-size: 17px"><i class="fa fa-power-off"></i> &nbsp;退出</a>
</header>
<div id="csnr">
    <div class="div1">
        <div class="kssj">
        <p><label>第一次模拟考试</label></p>
        <p>考试时间：2018/12/30 10:20:00</p>
        <p>考试时长：1 小时</p>
        <p>试卷分数：100 分<a style="margin-left: 80px" href="sjyl.html">进入</a></p>
    </div>
        <div class="kssj">
        <p><label>第一次模拟考试</label></p>
        <p>考试时间：2018/12/30 10:20:00</p>
        <p>考试时长：1 小时</p>
        <p>试卷分数：100 分<a style="margin-left: 80px" href="sjyl.html">进入</a></p>
    </div>
        <div class="kssj">
            <p><label>第一次模拟考试</label></p>
            <p>考试时间：2018/12/30 10:20:00</p>
            <p>考试时长：1 小时</p>
            <p>试卷分数：100 分<a style="margin-left: 80px" href="sjyl.html">进入</a></p>
        </div>
        <div class="kssj">
            <p><label>第一次模拟考试</label></p>
            <p>考试时间：2018/12/30 10:20:00</p>
            <p>考试时长：1 小时</p>
            <p>试卷分数：100 分<a style="margin-left: 80px" href="sjyl.html">进入</a></p>
        </div>
        <div class="kssj">
            <p><label>第一次模拟考试</label></p>
            <p>考试时间：2018/12/30 10:20:00</p>
            <p>考试时长：1 小时</p>
            <p>试卷分数：100 分<a style="margin-left: 80px" href="sjyl.html">进入</a></p>
        </div>
    </div>-</div>
</body>
</html>