header {
    height: 10%;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 99;
    text-align: center;
    font-size: 25px;
    -webkit-box-shadow: -4px 6px 5px -4px #cfcfcf;
}
.sjmb{margin-top: 85px;border: 1px solid #CDCDCD;width: 800px;margin-left: 120px;background-color: white}
.sjmb .tou{padding: 15px 20px;background-color: #FAFAFA;border-bottom: 1px solid #CDCDCD;}
.sjmb .dgtm{padding: 15px 0;margin: 0 25px;border-top: 1px solid  #CDCDCD;}
.sjmb .dgtm p{ margin-left: 20px;}
.dtk{margin-top: 0px; -webkit-box-shadow: -4px 5px 5px -4px #cfcfcf;position: fixed;padding: 20px;margin-left: 960px;
    width: 300px;background-color: white}
.dtk .dtk2{font-size: 20px;text-align: center}
.dtk .sysj span{color: red}
.dgtmda .tmbx{border: 1px solid #CDCDCD;margin-right: 10px;margin-top: 5px;float: left;padding:3px 0;width: 30px;text-align: center}
 .tijiao input{ border: 0;padding:5px 40px;background-color:#0088cc;color: white;font-size: 17px }
 .tijiao {margin-top: 20px;margin-left: 90px}
.clear { clear: both; }

