.time {
  height:200px;
  top:36.5%;
  left:50%;
  width:900px;
  margin-left:-300px;
  margin-top:-10px;
  text-align:center;
}
.time .digit {
  width:45px;
  height:65px;
  margin:0 ;
  position:relative;
  display:inline-block;
}


.digit .segment {
  /*background:#00FF00;*/
  border-radius:5px;
  position:absolute;
  opacity:0.1;
  transition:opacity 0.2s;
  -webkit-transition:opacity 0.2s;
  -ms-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  -o-transition:opacity 0.2s;
}

.digit .segment.on, .separator {
  opacity:1;
  box-shadow:0 0 30px rgba(0,255,0,0.1);
  transition:opacity 0s;
  -webkit-transition:opacity 0s;
  -ms-transition:opacity 0s;
  -moz-transition:opacity 0s;
  -o-transition:opacity 0s;
}

.time .separator {
  width:10px;
  height:10px;
  /*background:#00FF00;*/
  border-radius:50%;
  display:inline-block;
  position:relative;
  top:-30px;
}


.digit .segment:nth-child(1) {
  top:5px;
  left:10px;
  right:10px;
  height:5px;
}

.digit .segment:nth-child(2) {
  top:10px;
  right:5px;
  width:5px;
  height:37.5px;
  height:calc(70% - 25px);
}

.digit .segment:nth-child(3) {
  bottom:10px;
  right:5px;
  width:5px;
  height:37.5px;
  height:calc(70% - 25px);
}

.digit .segment:nth-child(4) {
  bottom:5px;
  right:10px;
  height:5px;
  left:10px;
}

.digit .segment:nth-child(5) {
  bottom:10px;
  left:5px;
  width:5px;
  height:37.5px;
  height:calc(70% - 25px);
}

.digit .segment:nth-child(6) {
  top:10px;
  left:5px;
  width:5px;
  height:37.5px;
  height:calc(70% - 25px);
}

.digit .segment:nth-child(7) {
  bottom:47.5px;
  bottom:calc(50% - 5px);
  right:10px;
  left:10px;
  height:5px;
}