header a{font-size: 20px;color: white;margin-left: 25px}
ul li{list-style:none}
a:hover{text-decoration: none}
#csnr{background-color: white;height: 560px;margin: 0 30px;margin-top: 65px;}
.kssj{padding: 40px;font-size: 15px;float: left;margin: 20px 35px}
.kssj p{margin-bottom: 5px}