<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdomschool.student.mapper.GroupchatrecordMapper">
    <!-- Groupchatrecord的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_Groupchatrecord_Map" type="com.wisdomschool.student.pojo.Groupchatrecord">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="sendId" jdbcType="INTEGER" property="sendid" />
        <result column="message" jdbcType="VARCHAR" property="message" />
        <result column="messageFile" jdbcType="VARCHAR" property="messagefile" />
        <result column="time" jdbcType="DATE" property="time" />
        <result column="isRemove" jdbcType="INTEGER" property="isremove" />
    </resultMap>

    <!-- 数据库中表名为:groupchatrecord的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="groupchatrecord_Column">
        groupchatrecord.id as id
        ,groupchatrecord.sendId as sendId
        ,groupchatrecord.message as message
        ,groupchatrecord.messageFile as messageFile
        ,groupchatrecord.time as time
        ,groupchatrecord.isRemove as isRemove
    </sql>

    <!--获得类名为:Groupchatrecord对应的数据库表的数据总行数 -->
    <select id="getGroupchatrecordRowCount" resultType="java.lang.Long">
        select count(id) from groupchatrecord
    </select>
    <!-- 获得类名为:Groupchatrecord对应数据库中表的数据集合 -->
    <select id="selectGroupchatrecord" resultMap="result_Groupchatrecord_Map">
        select 
        <include refid="groupchatrecord_Column" /> 
        from groupchatrecord
    </select> 

    <!-- 获得一个Groupchatrecord对象,以参数Groupchatrecord对象中不为空的属性作为条件进行查询-->
    <select id="selectGroupchatrecordByObj" parameterType="com.wisdomschool.student.pojo.Groupchatrecord" resultMap="result_Groupchatrecord_Map">
        select 
            <include refid="groupchatrecord_Column" /> 
        from groupchatrecord
        <where>
            <if test="isremove != null "> and groupchatrecord.isRemove = #{isremove,jdbcType=INTEGER}</if>
            <if test="time != null "> and groupchatrecord.time = #{time,jdbcType=DATE}</if>
            <if test="messagefile != null "> and groupchatrecord.messageFile = #{messagefile,jdbcType=VARCHAR}</if>
            <if test="message != null "> and groupchatrecord.message = #{message,jdbcType=VARCHAR}</if>
            <if test="sendid != null "> and groupchatrecord.sendId = #{sendid,jdbcType=INTEGER}</if>
            <if test="id != null "> and groupchatrecord.id = #{id,jdbcType=INTEGER}</if>
        </where>
    </select> 

    <!-- 通过Groupchatrecord的id获得对应数据库中表的数据对象-->
    <select id="selectGroupchatrecordById" parameterType="java.lang.Integer" resultMap="result_Groupchatrecord_Map">
        select 
            <include refid="groupchatrecord_Column" /> 
        from groupchatrecord
        where groupchatrecord.id = #{id,jdbcType=INTEGER}
    </select> 

    <!-- 将Groupchatrecord插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertGroupchatrecord" parameterType="com.wisdomschool.student.pojo.Groupchatrecord">
        insert into groupchatrecord(id,sendId,message,messageFile,time,isRemove) 
        values(#{id,jdbcType=INTEGER},#{sendid,jdbcType=INTEGER},#{message,jdbcType=VARCHAR},#{messagefile,jdbcType=VARCHAR},#{time,jdbcType=DATE},#{isremove,jdbcType=INTEGER})
    </insert>

    <!-- 将Groupchatrecord中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyGroupchatrecord" parameterType="com.wisdomschool.student.pojo.Groupchatrecord">
        insert into groupchatrecord
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="sendid != null">sendId,</if>
            <if test="message != null">message,</if>
            <if test="messagefile != null">messageFile,</if>
            <if test="time != null">time,</if>
            <if test="isremove != null">isRemove,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id,jdbcType=INTEGER},</if>
            <if test="sendid != null"> #{sendid,jdbcType=INTEGER},</if>
            <if test="message != null"> #{message,jdbcType=VARCHAR},</if>
            <if test="messagefile != null"> #{messagefile,jdbcType=VARCHAR},</if>
            <if test="time != null"> #{time,jdbcType=DATE},</if>
            <if test="isremove != null"> #{isremove,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <!-- 通过Groupchatrecord的id将数据库表中对应的数据删除-->
    <delete id="deleteGroupchatrecordById" parameterType="java.lang.Integer">
        delete from groupchatrecord
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!-- 通过Groupchatrecord的id将Groupchatrecord的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateGroupchatrecordById" parameterType="com.wisdomschool.student.pojo.Groupchatrecord">
        update groupchatrecord set
            sendId=#{sendid,jdbcType=INTEGER}
            ,message=#{message,jdbcType=VARCHAR}
            ,messageFile=#{messagefile,jdbcType=VARCHAR}
            ,time=#{time,jdbcType=DATE}
            ,isRemove=#{isremove,jdbcType=INTEGER}
        where id=#{id,jdbcType=INTEGER}
    </update>

    <!-- 通过Groupchatrecord的id将Groupchatrecord中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyGroupchatrecordById" parameterType="com.wisdomschool.student.pojo.Groupchatrecord">
        update groupchatrecord
        <set>
            <if test="sendid != null">
                sendId=#{sendid,jdbcType=INTEGER},
            </if>
            <if test="message != null">
                message=#{message,jdbcType=VARCHAR},
            </if>
            <if test="messagefile != null">
                messageFile=#{messagefile,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time=#{time,jdbcType=DATE},
            </if>
            <if test="isremove != null">
                isRemove=#{isremove,jdbcType=INTEGER},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>

</mapper>